name: SHOUROV-BOT

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

       - name: Run auto fixer
        run: node fix-all.js

        - name:  Commit changes
        run: git config user.name "AutoFix Bot"
        git config user.email "autofix@example.com"
        git add .
        git commit -m "Auto fixed commands & events" || echo "Nothing to commit"

        - name: Push changes
      uses: ad-m/github-push-action@v0.6.0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: SHOUROV-BOT
        run: npm start
